@import '~antd/dist/antd.css';





/* .menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #181717;
  background-color: white;
} */

.menu__logo {
  width: 250px;
  float: left;
}
.left{
  margin-left: 556.3px;
}

.menu__logo a {
  display: flex;
  justify-content: flex-start;
  font-size: 25px;
  padding:19px 10px;
  color:#ffffff;
  font-weight: bold;
}

.menu__container .ant-menu-item {
  padding: 0px 0px;
}



.menu__container .ant-menu-item a{
  padding: 10px 15px;
  color:white;
  background: black;
 
}
.menu__container .ant-menu-item a:hover{
  color: red;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
  background-color: #000000;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: red;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}
.spikes {
  position: relative;
  background: black;
  height: 11.4vh;
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  opacity: 0.7;
  /* overflow: auto;
  box-shadow: 0 0 30px #181717; */
  /* background-color: white; */
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -35%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 25px;
  background-size: 25px 100%;
  background-image: linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%);
  background-position: 0 0;
}

@media (max-width: 1277px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }
  .left{
    margin-left:0px;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item{
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}