@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");


body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    p {
      font-size: 14px;
      line-height: 27px;
    }

.header {
    height: 100vh;
    background-image: url("/images/slider_1_1920_1200.jpg");
    background-repeat: no-repeat;
    background-position: 50% 35%;
    box-shadow: rgba(0,0,0,.8);
    .inner {
      height: 80vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      .header-text {
        margin-top: 150px;
        color: white !important;
        h1 {
          font-size: 54px;
          color: white !important;
        }
        h5 {
          font-size: 22px;
          letter-spacing: 3px;
          color: white !important;
        }
      }
    }
}


.about {
    height: 80vh;
    .aboutImage {
      height: 100%;
      width: 100%;
    }
    
  }
}

.ourCustomers {
    background-image: url(/images/blog-3-1000x400.jpg);
    background-attachment: fixed;
   background-size: cover;
    background-position: center;

    i {
      font-size: 40px;
      color:red;
    }
  }

  .services {
    .row {
      .col-md-4 {
        i {
          font-size: 40px;
        }
      }
    }
  }
  .footer {
    background-color: #000000 !important;
    h4{
        color:red;
    }
    i {
      font-size: 30px;
    }
  }

